
.api-console {
    display: inline-block;
    position: relative;
    width: 395px;
    height: 100%;
    background-color: white;
    left: 641px;
    /*overflow: auto;*/
}

.console-message {
    border-bottom: 1px solid black;
    padding: 9px;
    /*position: fixed;*/
    /*top: 37px;*/
    z-index: 5;
    width: 377px;
    background-color: white;
}

.api-console.text {
    margin: 0;
    padding: 0;
    position: absolute;
}

.update-value {

}

.key-value {
    margin-left: 1em;
}

.CodeMirror {
    height: 100%;
    width: 100%;
    border: none;
    /*padding-top: 35px;*/
}

.detailView .dialog .right {
    left: 330px;
}

.detailView .dialog .left {
    left: -200px;
}

.detailView .dialog > .close {
    right: 200px;
}

.detailView .dialog > .notificationLevel {
    right: 220px;
}
