
.api-console {
    display: inline-block;
    position: relative;
    width: 275px;
    height: 100%;
    background-color: white;
    left: 841px;
    overflow: auto;
}

.console-message {
    border-bottom: 1px solid black;
    padding: 10px;
}

.api-console.text {
    margin: 0;
    padding: 0;
    position: absolute;
}

.update-value {

}

.key-value {
    margin-left: 1em;
}

.CodeMirror {
    height: 100%;
    width: 100%;
}